# Objective

We have an Airbnb database, we need to know if there are similar listings based on their offering.

Code must include:

- EDA
- Diimension scaling
- Optimum # of clusters
- Clustering
- Visualizations
- Profiling

# Libraries

In [1]:
#Basic libraries
import pandas as pd
import numpy as np

#Visualizations
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
import plotly.express as px

#Sentiment Analysis
import nltk
from nltk.corpus import stopwords

import wordcloud

#Missing Values
from sklearn.impute import SimpleImputer
from scipy.stats import ks_2samp

#Outliers
from sklearn.ensemble import IsolationForest

#Multicolinealidad
from varclushi import VarClusHi

#Scaling
from sklearn.preprocessing import StandardScaler

#Dimensional Scaling
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

#Clustering
from sklearn.metrics import silhouette_samples, silhouette_score
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import calinski_harabasz_score
from scipy.cluster.hierarchy import linkage,cophenet,dendrogram
from scipy.spatial.distance import pdist


#Settings
#pd.options.display.float_format = '{:.5f}'.format  -> We remove scientific notion for floats w/5 decimals
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)
%matplotlib inline
style.use("ggplot")
plt.rcParams["figure.figsize"] = (8,6)

# Functions

In [2]:
def remove_dollar_sign(df, v):
    
    df[v] = df[v].map(lambda x: x.replace("$", "").replace(",","")).astype(float)
    
    return df

In [3]:
def remove_percentage(df, v):
    
    df[v] = df[v].astype(str)
    df[v] = df[v].map(lambda x: x.strip("%")).astype(float)
    df[v] = df[v].map(lambda x: x/100).astype(float)
    
    return df

In [4]:
##quita acentos,vuelve todo a minúsculas y se quitan signos 
def clean_words(text):
    res =  unicodedata.normalize('NFD', text).encode('ascii', 'ignore')
    res = re.sub("[^a-zA-Z0-9 ]"," ", res.decode("utf-8"), flags=re.UNICODE)
    res =  u' '.join(res.lower().split())
    return res

In [5]:
# Requencies
def freq(df, var):
    
    """Prints a table of frequencies for discrete variables of a dataframe
    
    Parameters
    -----
    df: Base Dataframe to print
    var: Name of the variable to print
    
    """
    
    if type(var) != list:
        var = [var]
    
    for v in var:
        aux = df[v].value_counts().to_frame().rename(columns={v:'FA'})
        aux['FR'] = aux['FA'] / aux['FA'].sum()
        aux[['FAA','FRA']] = aux.apply( np.cumsum )
        print(f"Frequencies table for variable {v} \n")    
        print(aux,"\n")

In [6]:
def normalize(df, v, umbral):
    
    """Normalizes discrete variables based on a defined statistical threshhold and renames 
    the columns as v_name_of_the_variable
    
    Parameters
    -----
    df: Dataframe to normalize
    v: Name of the Discrete Variable to normalize
    umbral: Statistical threshhold to use
    
    """
    
    aux = df[v].value_counts(True).to_frame()
    aux[f'v_{v}'] = np.where( aux[v] < umbral , 'SMALL_CATEGORIES', aux.index   )
    moda = aux.head(1)[f'v_{v}'].values[0]
    if aux.loc[aux[f'v_{v}'] == 'SMALL_CATEGORIES'][v].sum() < umbral: 
        aux[f'v_{v}'].replace({'SMALL_CATEGORIES':moda},inplace=True)

    aux.drop(v,axis=1, inplace=True)
    aux.reset_index(inplace=True)

    return df.merge(aux, left_on=[v], right_on='index',how='inner').drop('index',axis=1)

In [7]:
def cvar_rename(df, v):
    
    """ Holomogates names of the continuous variables of a dataframe as:
    
    "c_name_of_the_variable"
    
    Parameters:
    -----
    df: Dataframe to modify
    v: Name of each column
    
    """
    
    df[f'c_{v}'] = df[v].copy()
    df.drop(columns=v, inplace = True)
    
    return df

In [8]:
def score_silhouette(X, min_comp, max_comp):
    """
    """
    silhouette = []
    
    for k in range(min_compm, max_comp):
        km = KMeans(n_clusters=k)
        km.fit(X)
        score= silhouette_score(X, km.labels_, metric="euclidean")
        silhouette.append(score)
        
    df_silhouette = pd.DataFrame()
    df_silhouette["N_cluster"] = range(min_comp, max_comp)
    df_silhouette["Score"] = silhouette
    
    fig = px.line(df_silhouette, x = "N_cluster", y = "Score", title= " Optimum Number of Clusters - Silhouette")
    return fig.show()

In [9]:
def elbow(X,min_comp,max_comp):
    model = KMeans()

    visualizer = KElbowVisualizer(model, k=(min_comp,max_comp)).fit(X)
    return visualizer.show()

In [10]:
def score_calinski(X,min_comp,max_comp):
    calinski = []
    
    for k in list(range(min_comp, max_comp)):
        km = KMeans(n_clusters=k)
        km.fit(X_std)
        labels = km.fit_predict(X)
        score = calinski_harabasz_score(X,labels)
        calinski.append(score)
        
    df_calinski=pd.DataFrame()
    df_calinski["N_Cluster"]=range(min_comp,max_comp)
    df_calinski["Score"]=calinski
    
    fig = px.line(df_calinski, x="N_Cluster", y="Score", title="Optimum number of Clusters - Calinski") 
    return fig.show()

# Data Reading

In [11]:
listings = pd.read_csv("./data/listings.csv")
calendar = pd.read_csv("./data/calendar.csv")
reviews = pd.read_csv("./data/reviews.csv")

/var/folders/y3/zm6lbc553ylc_67x7h3k3fhh0000gn/T/ipykernel_9944/3803060994.py:1: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  listings = pd.read_csv("./data/listings.csv")

# Data Cleaning

## Listings dataframe

In [12]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20211204143024,2021-12-05,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,within a day,80%,17%,f,https://a0.muscache.com/im/pictures/user/50fc5...,https://a0.muscache.com/im/pictures/user/50fc5...,Midtown,8.0,8.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"New York, United States",Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,NaN,1 bath,NaN,1.0,"[""Extra pillows and blankets"", ""Baking sheet"",...",$150.00,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,3,33,63,338,2021-12-05,48,0,0,2009-11-21,2019-11-04,4.70,4.72,4.62,4.76,4.79,4.86,4.41,NaN,f,3,3,0,0,0.33
1,3831,https://www.airbnb.com/rooms/3831,20211204143024,2021-12-05,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,https://www.airbnb.com/users/show/4869,LisaRoxanne,2008-12-07,"New York, New York, United States",Laid-back Native New Yorker (formerly bi-coast...,a few days or more,9%,69%,f,https://a0.muscache.com/im/users/4869/profile_...,https://a0.muscache.com/im/users/4869/profile_...,Clinton Hill,1.0,1.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"Brooklyn, New York, United States",Bedford-Stuyvesant,Brooklyn,40.68494,-73.95765,Entire guest suite,Entire home/apt,3,NaN,1 bath,1.0,3.0,"[""Extra pillows and blankets"", ""Luggage dropof...",$75.00,1,730,1.0,1.0,730.0,730.0,1.0,730.0,NaN,t,3,6,18,194,2021-12-05,409,32,0,2015-01-05,2021-10-22,4.45,4.58,4.49,4.78,4.80,4.71,4.64,NaN,f,1,1,0,0,4.86
2,5121,https://www.airbnb.com/rooms/5121,20211204143024,2021-12-05,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,Garon,2009-02-03,"New York, New York, United States","I am an artist(painter, filmmaker) and curato...",within an hour,100%,100%,f,https://a0.muscache.com/im/pictures/user/72a61...,https://a0.muscache.com/im/pictures/user/72a61...,Bedford-Stuyvesant,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,NaN,Bedford-Stuyvesant,Brooklyn,40.68535,-73.95512,Private room in rental unit,Private room,2,NaN,NaN,1.0,1.0,"[""Kitchen"", ""Long term stays allowed"", ""Wifi"",...",$60.00,30,730,30.0,30.0,730.0,730.0,30.0,730.0,NaN,t,30,60,90,365,2021-12-05,50,0,0,2014-01-22,2016-06-05,4.52,4.22,4.09,4.91,4.91,4.47,4.52,NaN,f,2,0,2,0,0.52
3,5136,https://www.airbnb.com/rooms/5136,20211204143024,2021-12-05,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"Brooklyn, New York, United States","Rebecca is an artist/designer, and Henoch is i...",within a day,100%,25%,f,https://a0.muscache.com/im/users/7378/profile_...,https://a0.muscache.com/im/users/7378/profile_...,Greenwood Heights,1.0,1.0,"['email', 'phone', 'reviews']",t,t,NaN,Sunset Park,Brooklyn,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,NaN,1.5 baths,2.0,2.0,"[""Kitchen"", ""BBQ grill"", ""Cable TV"", ""Carbon m...",$275.00,5,1125,5.0,5.0,1125.0,1125.0,5.0,1125.0,NaN,t,3,3,12,123,2021-12-05,2,1,0,2014-01-02,2021-08-08,5.00,5.00,5.00,5.00,5.00,4.50,5.00,NaN,f,1,1,0,0,0.02
4,5178,https://www.airbnb.com/rooms/5178,20211204143024,2021-12-05,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,Shunichi,2009-03-03,"New York, New York, United States",I used to work for a financial industry but no...,within a day,100%,100%,f,https://a0.muscache.com/im/users/8967/profile_...,https://a0.muscache.com/im/users/8967/profile_...,Hell's Kitchen,1.0,1.0,"['email', 'phone', 'facebook', 'reviews']",t,f,"New York, United States",Midtown,Manhattan,40.76457,-73.98317,Private room in rental unit,Private room,2,NaN,1 bath,1.0,1.0,"[""Room-darkening shades"", ""Lock on bedroom doo...",$68.00,2,14,2.0,2.0,14.0,14.0,2.0,14.0,NaN,t,1,16,34,192,2021-12-05,507,33,2,2010-08-18,2021-11-08,4.21,4.21,3.73,4.66,4.42,4.87,4.36,NaN,f,1,0,1,0,3.68

In [13]:
#We check there are no duplicate values on the id, we can proceed
listings.shape, len(listings["id"].unique())

((38277, 74), 38277)

### Unnecessary Columns

In [14]:
"""

According to the dictionary, there are some columns that are the same, we drop them.
Also, the coordinates (longitud, lagitud), scrape_id and the last_scraped columns are useless at the moment

"""
listings.drop(columns=[
    "host_id",
    "name",
    "calendar_last_scraped",
    "first_review",
    "last_review",
    "description",
    "amenities",
    "latitude",
    "longitude",
    "scrape_id",
    "last_scraped",
    "host_listings_count",
    "minimum_minimum_nights",
    "maximum_minimum_nights",
    "minimum_maximum_nights",
    "maximum_maximum_nights",
    "minimum_nights_avg_ntm",
    "maximum_nights_avg_ntm"
], axis=1, inplace = True)

In [15]:
"""

We have a lot of missing value, most of them related to the host,
the rest are related to the preperty characteristics.

"""

miss_listings = 1 - listings.count() / len(listings)
miss_listings

id                                              0.000000
listing_url                                     0.000000
neighborhood_overview                           0.408261
picture_url                                     0.000000
host_url                                        0.000000
host_name                                       0.000888
host_since                                      0.000888
host_location                                   0.003579
host_about                                      0.421898
host_response_time                              0.449173
host_response_rate                              0.449173
host_acceptance_rate                            0.430703
host_is_superhost                               0.000888
host_thumbnail_url                              0.000888
host_picture_url                                0.000888
host_neighbourhood                              0.195000
host_total_listings_count                       0.000888
host_verifications                              0.000000
host_has_profile_pic                            0.000888
host_identity_verified                          0.000888
neighbourhood                                   0.408235
neighbourhood_cleansed                          0.000000
neighbourhood_group_cleansed                    0.000000
property_type                                   0.000000
room_type                                       0.000000
accommodates                                    0.000000
bathrooms                                       1.000000
bathrooms_text                                  0.002795
bedrooms                                        0.103848
beds                                            0.062831
price                                           0.000000
minimum_nights                                  0.000000
maximum_nights                                  0.000000
calendar_updated                                1.000000
has_availability                                0.000000
availability_30                                 0.000000
availability_60                                 0.000000
availability_90                                 0.000000
availability_365                                0.000000
number_of_reviews                               0.000000
number_of_reviews_ltm                           0.000000
number_of_reviews_l30d                          0.000000
review_scores_rating                            0.248295
review_scores_accuracy                          0.264284
review_scores_cleanliness                       0.263997
review_scores_checkin                           0.264467
review_scores_communication                     0.264180
review_scores_location                          0.264545
review_scores_value                             0.264571
license                                         0.999974
instant_bookable                                0.000000
calculated_host_listings_count                  0.000000
calculated_host_listings_count_entire_homes     0.000000
calculated_host_listings_count_private_rooms    0.000000
calculated_host_listings_count_shared_rooms     0.000000
reviews_per_month                               0.248295
dtype: float64

In [16]:
#Now we drop the columns with very high missings (most related to the host)
listings.drop(columns=["bathrooms", "calendar_updated"], axis = 1, inplace = True)
listings = listings.reset_index(drop = True)

In [17]:
#In addition to the missing values, we have 2 empty columns: bathrooms & calendar_updated
#We will drop them as they are useless

listings.drop(columns=["neighborhood_overview", "host_name", "host_about",
                       "host_response_time", "neighbourhood", "license",
                       "host_verifications", "host_neighbourhood"], axis = 1, inplace = True)
listings = listings.reset_index(drop = True)

In [18]:
#We drop the url columns as they are useless
listings.drop(columns=["listing_url", "picture_url", "host_url", "host_thumbnail_url",
                       "host_picture_url"], axis = 1, inplace = True)
listings = listings.reset_index(drop = True)

### Replacing Boolean Values for 0 & 1's

In [19]:
listings["host_is_superhost"].replace({"f":0, "t":1}, inplace=True)
listings["host_has_profile_pic"].replace({"f":0, "t":1}, inplace=True)
listings["host_identity_verified"].replace({"f":0, "t":1}, inplace=True)
listings["has_availability"].replace({"f":0, "t":1}, inplace=True)
listings["instant_bookable"].replace({"f":0, "t":1}, inplace=True)

### Obtaining # of Bathrooms from text

In [20]:
# We need to normalize this information just with numbers
listings["bathrooms_text"].value_counts(True)

1 bath               0.516034
1 shared bath        0.248808
1 private bath       0.072256
2 baths              0.057663
2 shared baths       0.029552
1.5 baths            0.027220
1.5 shared baths     0.018680
2.5 baths            0.008043
3 baths              0.004847
0 shared baths       0.003720
2.5 shared baths     0.002567
3 shared baths       0.002463
3.5 baths            0.002070
4 baths              0.001520
0 baths              0.001127
Half-bath            0.001048
4.5 baths            0.000550
Shared half-bath     0.000393
4 shared baths       0.000288
5 baths              0.000288
Private half-bath    0.000288
5.5 baths            0.000131
6 baths              0.000131
8 baths              0.000079
3.5 shared baths     0.000052
7.5 baths            0.000052
6 shared baths       0.000052
4.5 shared baths     0.000026
6.5 baths            0.000026
7 baths              0.000026
Name: bathrooms_text, dtype: float64

In [21]:
#We don't care if a bathroom is shared or not
listings["bathrooms_text"].replace({
    "Shared half-bath": "0.5",
    "Private half-bath": "0.5",
    "Half-bath": "0.5"
}, inplace=True)

In [22]:
#Now we split each string and we keep the first item (the number), then we convert it into floats
listings["bathrooms_text"] = listings["bathrooms_text"].astype(str)
listings["bathrooms_text"] = listings["bathrooms_text"].map(lambda x: x.split(" ")[0]).astype(float)

In [23]:
# Then we rename the column for "Bathrroms"

listings.rename({"bathrooms_text": "Bathrooms"}, axis=1, inplace = True)

### Remove Dollar Sign

In [24]:
listings = remove_dollar_sign(listings, "price")

### Obtaining Year when Host Joined

In [25]:
# Currently, the host_since column is treated as a string
listings["host_since"] = pd.to_datetime(listings["host_since"]).dt.year

In [26]:
#We have some missing value in this column, we fill them with the median as they're <1% of the data
#and convert the column into int
listings["host_since"].fillna(listings["host_since"].median(), inplace=True)

listings["host_since"] = listings["host_since"].astype(int)

In [27]:
listings["host_since"].astype(int)

0        2008
1        2008
2        2009
3        2009
4        2009
         ...
38272    2016
38273    2016
38274    2020
38275    2020
38276    2016
Name: host_since, Length: 38277, dtype: int64

### Clean Host Location (State)

In [28]:
"""

We have some host that have undisclosed location within the US,
We'll replace them with the category "Unknown"

"""
listings["host_location"].replace({"US": "Unknown"}, inplace = True)
listings["host_location"] = listings["host_location"].astype(str)

In [29]:
#Now we split the values and get the midone

listings["host_location"] = listings["host_location"].astype(str)

#We split the column into a list and then slect the second item if the lenght of the list > 1, if not, leave x
listings["host_location"] = listings["host_location"].map(lambda x: x.split(", ")[1] if len(x.split(", ")) > 1 else x)

### Convert Percentages into decimals

In [30]:
listings = remove_percentage(listings, "host_response_rate")
listings = remove_percentage(listings, "host_acceptance_rate")

In [31]:
listings.head()

,id,host_since,host_location,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,accommodates,Bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,2008,New York,0.80,0.17,0.0,8.0,1.0,1.0,Midtown,Manhattan,Entire rental unit,Entire home/apt,1,1.0,NaN,1.0,150.0,30,1125,1,3,33,63,338,48,0,0,4.70,4.72,4.62,4.76,4.79,4.86,4.41,0,3,3,0,0,0.33
1,3831,2008,New York,0.09,0.69,0.0,1.0,1.0,1.0,Bedford-Stuyvesant,Brooklyn,Entire guest suite,Entire home/apt,3,1.0,1.0,3.0,75.0,1,730,1,3,6,18,194,409,32,0,4.45,4.58,4.49,4.78,4.80,4.71,4.64,0,1,1,0,0,4.86
2,5121,2009,New York,1.00,1.00,0.0,1.0,1.0,1.0,Bedford-Stuyvesant,Brooklyn,Private room in rental unit,Private room,2,NaN,1.0,1.0,60.0,30,730,1,30,60,90,365,50,0,0,4.52,4.22,4.09,4.91,4.91,4.47,4.52,0,2,0,2,0,0.52
3,5136,2009,New York,1.00,0.25,0.0,1.0,1.0,1.0,Sunset Park,Brooklyn,Entire rental unit,Entire home/apt,4,1.5,2.0,2.0,275.0,5,1125,1,3,3,12,123,2,1,0,5.00,5.00,5.00,5.00,5.00,4.50,5.00,0,1,1,0,0,0.02
4,5178,2009,New York,1.00,1.00,0.0,1.0,1.0,0.0,Midtown,Manhattan,Private room in rental unit,Private room,2,1.0,1.0,1.0,68.0,2,14,1,1,16,34,192,507,33,2,4.21,4.21,3.73,4.66,4.42,4.87,4.36,0,1,0,1,0,3.68

## Calendar dataframe

In [32]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2595,2021-12-05,f,$150.00,$150.00,30.0,1125.0
1,65615,2021-12-05,f,$85.00,$85.00,10.0,1125.0
2,65615,2021-12-06,f,$85.00,$85.00,10.0,1125.0
3,65615,2021-12-07,f,$85.00,$85.00,10.0,1125.0
4,65615,2021-12-08,f,$85.00,$85.00,10.0,1125.0

In [33]:
#we have more than 1 row/id, let's check it
calendar.shape, len(calendar["listing_id"].unique())

((13964535, 7), 38259)

In [34]:
#Seems like each listing has 365 rows for their prices
calendar.shape[0]/len(calendar["listing_id"].unique())

365.0

In [35]:
#Let's change this params for easier manipulation
calendar["available"].value_counts(True)

f    0.631906
t    0.368094
Name: available, dtype: float64

In [36]:
"""

We're replacing when a place is not available (false) for 0
when a place is available (True), we're using 1

"""
calendar["available"].replace({"f":0, "t":1}, inplace=True)
calendar["available"].value_counts(True)

0    0.631906
1    0.368094
Name: available, dtype: float64

In [37]:
#We have very few missings, we will drop them
miss_calendar = 1 - calendar.count() / len(calendar)
miss_calendar

listing_id        0.000000e+00
date              0.000000e+00
available         0.000000e+00
price             1.224531e-05
adjusted_price    1.224531e-05
minimum_nights    1.432199e-07
maximum_nights    1.432199e-07
dtype: float64

In [38]:
calendar.dropna(inplace = True)

In [39]:
#We delete the $ sign from the prices columns
calendar = remove_dollar_sign(calendar, "price")
calendar = remove_dollar_sign(calendar, "adjusted_price")

In [40]:
#We drop some columns from the Calendar dataset as they already exist on the listings dataset
calendar.drop(columns=[
    "minimum_nights",
    "maximum_nights"
], axis = 1, inplace = True)

In [41]:
calendar.head(3)

   listing_id        date  available  price  adjusted_price
0        2595  2021-12-05          0  150.0           150.0
1       65615  2021-12-05          0   85.0            85.0
2       65615  2021-12-06          0   85.0            85.0

In [42]:
#Lastly, we rename some columns that have the same name on the listings df
calendar.rename(columns={
    "price": "calendar_price",
    "adjusted_price": "calendar_adjusted_price",
    "date": "calendar_date"
}, inplace = True)

## Reviews dataframe

In [43]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...

In [44]:
#We compare the lenght of the reviews dataframe, number of unique listings and the number of uniquue comments
reviews.shape[0], len(reviews["listing_id"].unique()),len(reviews["id"].unique())

(891964, 28773, 891941)

In [45]:
#We have 23 duplicated reviews on the dataframe, we drop them
print(len(reviews[reviews["id"].duplicated()]))
reviews.drop_duplicates(inplace=True)

23

In [46]:
#There seems to be ~31 reviews per listing on average
reviews.shape[0]/len(reviews["listing_id"].unique())

31.00003475480485

In [47]:
"""


When training, names can be useless, we delete this column as we already have the reviewer id,
also, we delete the id column as we already have our index (listing_id)

We also rename de date column for comment_date

"""

reviews.drop(columns=["reviewer_name", "id"], axis = 1, inplace = True)
reviews = reviews.reset_index(drop = True)

reviews.rename(columns={
    "date": "comment_date",
    "comments": "review_comment"
}, inplace = True)

In [48]:
reviews.head(3)

,listing_id,comment_date,reviewer_id,review_comment
0,2595,2009-11-21,50679,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,2009-12-05,53267,Great experience.
2,2595,2009-12-10,38960,I've stayed with my friend at the Midtown Cast...

In [49]:
#We have very few missing comments, we delete them
miss_reviews = 1 - reviews.count()/len(reviews)
miss_reviews

listing_id        0.000000
comment_date      0.000000
reviewer_id       0.000000
review_comment    0.000993
dtype: float64

In [50]:
reviews.dropna(inplace=True)
reviews = reviews.reset_index(drop=True)

### Frequent Traveler & reviewer

In [51]:
np.mean(reviews["reviewer_id"].value_counts())

1.1509468324608345

In [52]:
#We can make a frequent reviewer variable based on the amount of commenbts a user has

reviews["n_reviews"] = reviews.groupby("reviewer_id")["review_comment"].transform("count")

In [53]:
reviews["n_reviews"].value_counts()

1     699647
2     109018
3      35163
4      16108
5       9010
6       5328
7       3381
8       2440
9       1926
10      1400
11      1133
12       972
13       754
14       700
15       480
17       459
16       352
20       260
19       228
18       216
23       207
38       152
25       150
21       126
28       112
36       108
34       102
24        96
26        78
39        78
37        74
67        67
22        66
31        62
60        60
29        58
58        58
52        52
51        51
49        49
45        45
43        43
42        42
40        40
35        35
33        33
32        32
27        27
Name: n_reviews, dtype: int64

In [54]:
#For practical purposes, a freq reviewer will be a user that has commented
#at least 2 times and a frequent traveler is a user that has reviewed at least 4 times 
reviews["n_reviews"].describe(percentiles=(0.01, 0.75, 0.85, 0.95, 0.99, 0.999)).T

count    891078.000000
mean          1.559890
std           2.257291
min           1.000000
1%            1.000000
50%           1.000000
75%           1.000000
85%           2.000000
95%           4.000000
99%          10.000000
99.9%        36.000000
max          67.000000
Name: n_reviews, dtype: float64

In [55]:
reviews["Freq_reviewer"] = reviews["n_reviews"].map(lambda x: 1 if x>=2 else 0)
reviews["Freq_traveler"] = reviews["n_reviews"].map(lambda x: 1 if x>=4 else 0)

### Airbnb total comments

In [56]:
reviews["total_reviews"] = reviews.groupby("listing_id")["comment_date"].transform("count")

## Merging dataframes

As the main df (listings) has 38k+ rows and we're merging datsets where each place has 365 rows,
We need to make it smaller for computing power puposes. We're taking 20% of the dataset

In [57]:
listings = listings.sample(frac=0.2, random_state=1)
listings = listings.reset_index(drop=True)

In [58]:
#We want to maintain all the id's from the listings df, we make left joins only

temp = listings.merge(calendar, left_on="id", right_on="listing_id", how = "left").drop(columns=["listing_id","calendar_date"], axis=1)
df = temp.merge(reviews, left_on="id", right_on="listing_id", how = "inner").drop(columns=["listing_id", "review_comment",
                                                                                           "comment_date", "reviewer_id"], axis=1)

## Complete Dataframe  Cleaning

In [59]:
df.shape

(64859422, 48)

In [60]:
df.head()

,id,host_since,host_location,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,accommodates,Bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,available,calendar_price,calendar_adjusted_price,n_reviews,Freq_reviewer,Freq_traveler,total_reviews
0,30096719,2010,New York,1.0,0.92,1.0,2.0,1.0,1.0,Clinton Hill,Brooklyn,Entire rental unit,Entire home/apt,2,1.0,1.0,NaN,105.0,1,1125,1,1,9,24,244,136,44,6,4.74,4.88,4.77,4.93,4.91,4.96,4.76,0,1,1,0,0,4.34,0.0,96.0,96.0,1,0,0,136
1,30096719,2010,New York,1.0,0.92,1.0,2.0,1.0,1.0,Clinton Hill,Brooklyn,Entire rental unit,Entire home/apt,2,1.0,1.0,NaN,105.0,1,1125,1,1,9,24,244,136,44,6,4.74,4.88,4.77,4.93,4.91,4.96,4.76,0,1,1,0,0,4.34,0.0,96.0,96.0,1,0,0,136
2,30096719,2010,New York,1.0,0.92,1.0,2.0,1.0,1.0,Clinton Hill,Brooklyn,Entire rental unit,Entire home/apt,2,1.0,1.0,NaN,105.0,1,1125,1,1,9,24,244,136,44,6,4.74,4.88,4.77,4.93,4.91,4.96,4.76,0,1,1,0,0,4.34,0.0,96.0,96.0,4,1,1,136
3,30096719,2010,New York,1.0,0.92,1.0,2.0,1.0,1.0,Clinton Hill,Brooklyn,Entire rental unit,Entire home/apt,2,1.0,1.0,NaN,105.0,1,1125,1,1,9,24,244,136,44,6,4.74,4.88,4.77,4.93,4.91,4.96,4.76,0,1,1,0,0,4.34,0.0,96.0,96.0,2,1,0,136
4,30096719,2010,New York,1.0,0.92,1.0,2.0,1.0,1.0,Clinton Hill,Brooklyn,Entire rental unit,Entire home/apt,2,1.0,1.0,NaN,105.0,1,1125,1,1,9,24,244,136,44,6,4.74,4.88,4.77,4.93,4.91,4.96,4.76,0,1,1,0,0,4.34,0.0,96.0,96.0,1,0,0,136

In [61]:
len(df["id"].unique())

5747

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64859422 entries, 0 to 64859421
Data columns (total 48 columns):
 #   Column                                        Dtype
---  ------                                        -----
 0   id                                            int64
 1   host_since                                    int64
 2   host_location                                 object
 3   host_response_rate                            float64
 4   host_acceptance_rate                          float64
 5   host_is_superhost                             float64
 6   host_total_listings_count                     float64
 7   host_has_profile_pic                          float64
 8   host_identity_verified                        float64
 9   neighbourhood_cleansed                        object
 10  neighbourhood_group_cleansed                  object
 11  property_type                                 object
 12  room_type                                     object
 13  accommodates                                  int64
 14  Bathrooms                                     float64
 15  bedrooms                                      float64
 16  beds                                          float64
 17  price                                         float64
 18  minimum_nights                                int64
 19  maximum_nights                                int64
 20  has_availability                              int64
 21  availability_30                               int64
 22  availability_60                               int64
 23  availability_90                               int64
 24  availability_365                              int64
 25  number_of_reviews                             int64
 26  number_of_reviews_ltm                         int64
 27  number_of_reviews_l30d                        int64
 28  review_scores_rating                          float64
 29  review_scores_accuracy                        float64
 30  review_scores_cleanliness                     float64
 31  review_scores_checkin                         float64
 32  review_scores_communication                   float64
 33  review_scores_location                        float64
 34  review_scores_value                           float64
 35  instant_bookable                              int64
 36  calculated_host_listings_count                int64
 37  calculated_host_listings_count_entire_homes   int64
 38  calculated_host_listings_count_private_rooms  int64
 39  calculated_host_listings_count_shared_rooms   int64
 40  reviews_per_month                             float64
 41  available                                     float64
 42  calendar_price                                float64
 43  calendar_adjusted_price                       float64
 44  n_reviews                                     int64
 45  Freq_reviewer                                 int64
 46  Freq_traveler                                 int64
 47  total_reviews                                 int64
dtypes: float64(21), int64(22), object(5)
memory usage: 23.7+ GB

### Price Columns Comparison

In [63]:
df["price"].equals(df["calendar_price"])

False

In [64]:
df["price"].equals(df["calendar_adjusted_price"])

False

In [65]:
df["calendar_price"].equals(df["calendar_adjusted_price"])

False

## um, varc, vard

In [66]:
um = ["id"]
vard = ["host_location", "neighbourhood_cleansed", "neighbourhood_group_cleansed",
        "property_type", "room_type"]
varc = [x for x in df.columns.tolist() if x not in um+vard]

## EDA

In [67]:
df.shape

(64859422, 48)

## Discrete Variables

### Filling missings

In [68]:
for var in vard:
    df[var] = df[var].fillna("Without Category")

### Frequencies

In [69]:
for v in vard:
    freq(df, v)

Frequencies table for variable host_location

                                                          FA        FR  \
New York                                            55773469  0.859913
Unknown                                              4704493  0.072534
California                                            744235  0.011475
New Jersey                                            618310  0.009533
Florida                                               466835  0.007198
nan                                                   212430  0.003275
Texas                                                 206955  0.003191
Massachusetts                                         166805  0.002572
United States                                         162425  0.002504
Pennsylvania                                          123735  0.001908
Louisiana                                             101470  0.001564
Île-de-France                                          99280  0.001531
Colorado                                               95995  0.001480
England                                                87235  0.001345
Connecticut                                            71540  0.001103
Illinois                                               59130  0.000912
District of Columbia                                   59130  0.000912
CA                                                     58765  0.000906
Washington                                             51830  0.000799
Brooklyn                                               49275  0.000760
New Mexico                                             45990  0.000709
New York USA                                           42340  0.000653
Maryland                                               40515  0.000625
NY                                                     38690  0.000597
North Carolina                                         37595  0.000580
GH                                                     34675  0.000535
Berlin                                                 34310  0.000529
Emilia-Romagna                                         33945  0.000523
Ontario                                                33215  0.000512
Bangkok                                                31025  0.000478
法拉盛图书馆附近                                               29200  0.000450
Russia                                                 27740  0.000428
We stay on another houseboat on the dock where ...     27010  0.000416
South Holland                                          23725  0.000366
Wisconsin                                              20805  0.000321
RS                                                     20075  0.000310
Virginia                                               19710  0.000304
Delaware                                               18250  0.000281
İstanbul                                               17520  0.000270
Nevada                                                 16425  0.000253
Haute-Normandie                                        16060  0.000248
RU                                                     14235  0.000219
Auvergne-Rhône-Alpes                                   12775  0.000197
Maine                                                  12775  0.000197
NY                                                     12775  0.000197
Georgia                                                12775  0.000197
Rhode Island                                           10950  0.000169
east to west                                           10585  0.000163
In a renovated 19th century Manhattan townhouse...     10220  0.000158
Paraguay                                               10220  0.000158
Utah                                                    9855  0.000152
JP                                                      9490  0.000146
ES                                                      9125  0.000141
IT                                                      8760  0.000135
Ohio                                                    8395  0.000129
State of Bahia                                          8030  0.000124
Hordaland                                               7300  0.000113
United Kingdom                                          6935  0.000107
British Columbia                                        6935  0.000107
New South Wales                                         6570  0.000101
Israel                                                  6205  0.000096
Hawaii                                                  6205  0.000096
Buenos Aires                                            5840  0.000090
Tennessee                                               5840  0.000090
Victoria                                                5840  0.000090
CN                                                      5110  0.000079
PH                                                      5110  0.000079
South Carolina                                          4380  0.000068
State of Mexico                                         4380  0.000068
Estado de México                                        4380  0.000068
Wyoming                                                 4015  0.000062
CO                                                      3650  0.000056
Michigan                                                3650  0.000056
São Paulo                                               3285  0.000051
Sindh                                                   3285  0.000051
Australia                                               3285  0.000051
Lisbon                                                  3285  0.000051
Community of Madrid                                     2920  0.000045
Austria                                                 2920  0.000045
UA                                                      2920  0.000045
State of Rio de Janeiro                                 2555  0.000039
China                                                   2555  0.000039
Zurich                                                  2190  0.000034
Baden-Württemberg                                       2190  0.000034
Autonomous City of Buenos Aires                         2190  0.000034
Jalisco                                                 2190  0.000034
Alsace-Champagne-Ardenne-Lorraine                       1825  0.000028
Guangdong Province                                      1825  0.000028
Missouri                                                1825  0.000028
Chihuahua                                               1460  0.000023
Alabama                                                 1460  0.000023
Arizona                                                 1460  0.000023
Haifa District                                          1460  0.000023
Uusimaa                                                 1460  0.000023
Indiana                                                 1460  0.000023
Curaçao                                                 1460  0.000023
Guanajuato                                              1460  0.000023
Quebec                                                  1095  0.000017
San Juan                                                1095  0.000017
PL                                                      1095  0.000017
Federal District                                        1095  0.000017
Catalonia                                               1095  0.000017
Minnesota                                               1095  0.000017
Jakarta                                                 1095  0.000017
Colombia                                                1095  0.000017
Travel for work                                         1095  0.000017
Rio de Janeiro                                          1095  0.000017
Karnataka                                                730  0.000011
Geneva                                                   730  0.000011
Kansas                                                   730  0.000011
Hong Kong                                                730  0.000011
Beirut Governorate                                       730  0.000011
New Hampshire                                            730  0.000011
Puerto Plata                                             730  0.000011
Centre-Val de Loire                                      730  0.000011
TR                                                       730  0.000011
MX                                                       730  0.000011
Canton of Neuchâtel                                      730  0.000011
Cundinamarca                                             730  0.000011
IL                                                       730  0.000011
Capital Region of Denmark                                730  0.000011
Santa Fe Province                                        365  0.000006
LB                                                       365  0.000006
BG                                                       365  0.000006
 New York                                                365  0.000006
hong kong                                                365  0.000006
North Rhine-Westphalia                                   365  0.000006
Hawke's Bay                                              365  0.000006
Galicia                                                  365  0.000006
Porto District                                           365  0.000006
Dubai                                                    365  0.000006
Maharashtra                                              365  0.000006
France                                                   365  0.000006
SK                                                       365  0.000006
South Dakota                                             365  0.000006
JE                                                       365  0.000006
Beijing                                                  365  0.000006
Vermont                                                  365  0.000006
AU                                                       365  0.000006
GR                                                       365  0.000006
Lombardy                                                 365  0.000006
North Santander                                          365  0.000006
Moscow                                                   365  0.000006
Rhineland-Palatinate                                     365  0.000006
Center District                                          365  0.000006
Oklahoma                                                 365  0.000006
Auckland                                                 365  0.000006
Seoul                                                    365  0.000006

                                                         FAA       FRA
New York                                            55773469  0.859913
Unknown                                             60477962  0.932447
California                                          61222197  0.943921
New Jersey                                          61840507  0.953454
Florida                                             62307342  0.960652
nan                                                 62519772  0.963927
Texas                                               62726727  0.967118
Massachusetts                                       62893532  0.969690
United States                                       63055957  0.972194
Pennsylvania                                        63179692  0.974102
Louisiana                                           63281162  0.975666
Île-de-France                                       63380442  0.977197
Colorado                                            63476437  0.978677
England                                             63563672  0.980022
Connecticut                                         63635212  0.981125
Illinois                                            63694342  0.982037
District of Columbia                                63753472  0.982949
CA                                                  63812237  0.983855
Washington                                          63864067  0.984654
Brooklyn                                            63913342  0.985413
New Mexico                                          63959332  0.986122
New York USA                                        64001672  0.986775
Maryland                                            64042187  0.987400
NY                                                  64080877  0.987996
North Carolina                                      64118472  0.988576
GH                                                  64153147  0.989111
Berlin                                              64187457  0.989640
Emilia-Romagna                                      64221402  0.990163
Ontario                                             64254617  0.990675
Bangkok                                             64285642  0.991153
法拉盛图书馆附近                                            64314842  0.991604
Russia                                              64342582  0.992031
We stay on another houseboat on the dock where ...  64369592  0.992448
South Holland                                       64393317  0.992814
Wisconsin                                           64414122  0.993134
RS                                                  64434197  0.993444
Virginia                                            64453907  0.993748
Delaware                                            64472157  0.994029
İstanbul                                            64489677  0.994299
Nevada                                              64506102  0.994553
Haute-Normandie                                     64522162  0.994800
RU                                                  64536397  0.995020
Auvergne-Rhône-Alpes                                64549172  0.995217
Maine                                               64561947  0.995414
NY                                                  64574722  0.995611
Georgia                                             64587497  0.995807
Rhode Island                                        64598447  0.995976
east to west                                        64609032  0.996139
In a renovated 19th century Manhattan townhouse...  64619252  0.996297
Paraguay                                            64629472  0.996455
Utah                                                64639327  0.996607
JP                                                  64648817  0.996753
ES                                                  64657942  0.996894
IT                                                  64666702  0.997029
Ohio                                                64675097  0.997158
State of Bahia                                      64683127  0.997282
Hordaland                                           64690427  0.997394
United Kingdom                                      64697362  0.997501
British Columbia                                    64704297  0.997608
New South Wales                                     64710867  0.997710
Israel                                              64717072  0.997805
Hawaii                                              64723277  0.997901
Buenos Aires                                        64729117  0.997991
Tennessee                                           64734957  0.998081
Victoria                                            64740797  0.998171
CN                                                  64745907  0.998250
PH                                                  64751017  0.998329
South Carolina                                      64755397  0.998396
State of Mexico                                     64759777  0.998464
Estado de México                                    64764157  0.998531
Wyoming                                             64768172  0.998593
CO                                                  64771822  0.998649
Michigan                                            64775472  0.998706
São Paulo                                           64778757  0.998756
Sindh                                               64782042  0.998807
Australia                                           64785327  0.998858
Lisbon                                              64788612  0.998908
Community of Madrid                                 64791532  0.998953
Austria                                             64794452  0.998998
UA                                                  64797372  0.999043
State of Rio de Janeiro                             64799927  0.999083
China                                               64802482  0.999122
Zurich                                              64804672  0.999156
Baden-Württemberg                                   64806862  0.999190
Autonomous City of Buenos Aires                     64809052  0.999223
Jalisco                                             64811242  0.999257
Alsace-Champagne-Ardenne-Lorraine                   64813067  0.999285
Guangdong Province                                  64814892  0.999313
Missouri                                            64816717  0.999342
Chihuahua                                           64818177  0.999364
Alabama                                             64819637  0.999387
Arizona                                             64821097  0.999409
Haifa District                                      64822557  0.999432
Uusimaa                                             64824017  0.999454
Indiana                                             64825477  0.999477
Curaçao                                             64826937  0.999499
Guanajuato                                          64828397  0.999522
Quebec                                              64829492  0.999539
San Juan                                            64830587  0.999555
PL                                                  64831682  0.999572
Federal District                                    64832777  0.999589
Catalonia                                           64833872  0.999606
Minnesota                                           64834967  0.999623
Jakarta                                             64836062  0.999640
Colombia                                            64837157  0.999657
Travel for work                                     64838252  0.999674
Rio de Janeiro                                      64839347  0.999690
Karnataka                                           64840077  0.999702
Geneva                                              64840807  0.999713
Kansas                                              64841537  0.999724
Hong Kong                                           64842267  0.999736
Beirut Governorate                                  64842997  0.999747
New Hampshire                                       64843727  0.999758
Puerto Plata                                        64844457  0.999769
Centre-Val de Loire                                 64845187  0.999781
TR                                                  64845917  0.999792
MX                                                  64846647  0.999803
Canton of Neuchâtel                                 64847377  0.999814
Cundinamarca                                        64848107  0.999826
IL                                                  64848837  0.999837
Capital Region of Denmark                           64849567  0.999848
Santa Fe Province                                   64849932  0.999854
LB                                                  64850297  0.999859
BG                                                  64850662  0.999865
 New York                                           64851027  0.999871
hong kong                                           64851392  0.999876
North Rhine-Westphalia                              64851757  0.999882
Hawke's Bay                                         64852122  0.999887
Galicia                                             64852487  0.999893
Porto District                                      64852852  0.999899

Frequencies table for variable neighbourhood_group_cleansed

                     FA        FR       FAA       FRA
Brooklyn       27485230  0.423766  27485230  0.423766
Manhattan      22551542  0.347699  50036772  0.771465
Queens         11663940  0.179834  61700712  0.951299
Bronx           2279790  0.035150  63980502  0.986449
Staten Island    878920  0.013551  64859422  1.000000

Frequencies table for variable property_type

                                           FA        FR       FAA       FRA
Entire rental unit                   24177965  0.372775  24177965  0.372775
Private room in rental unit          16500555  0.254405  40678520  0.627180
Private room in residential home      5115840  0.078876  45794360  0.706056
Entire residential home               3944555  0.060817  49738915  0.766873
Private room in townhouse             3116005  0.048042  52854920  0.814915
Entire townhouse                      1865515  0.028762  54720435  0.843677
Entire loft                           1722800  0.026562  56443235  0.870240
Entire condominium (condo)            1249030  0.019257  57692265  0.889497
Entire guest suite                    1115075  0.017192  58807340  0.906689
Room in boutique hotel                1029682  0.015876  59837022  0.922565
Private room in condominium (condo)   1020175  0.015729  60857197  0.938294
Shared room in rental unit             860305  0.013264  61717502  0.951558
Room in hotel                          772705  0.011914  62490207  0.963472
Private room in guest suite            606630  0.009353  63096837  0.972825
Private room in loft                   416830  0.006427  63513667  0.979251
Tiny house                             230315  0.003551  63743982  0.982802
Private room in hostel                 186150  0.002870  63930132  0.985672
Private room in tiny house             124830  0.001925  64054962  0.987597
Entire guesthouse                       98185  0.001514  64153147  0.989111
Private room in bungalow                95630  0.001474  64248777  0.990585
Entire serviced apartment               85775  0.001322  64334552  0.991908
Entire bungalow                         54750  0.000844  64389302  0.992752
Room in serviced apartment              50370  0.000777  64439672  0.993528
Room in aparthotel                      46355  0.000715  64486027  0.994243
Floor                                   42705  0.000658  64528732  0.994901
Private room in bed and breakfast       38690  0.000597  64567422  0.995498
Private room in serviced apartment      36865  0.000568  64604287  0.996066
Private room in guesthouse              36135  0.000557  64640422  0.996623
Private room                            31025  0.000478  64671447  0.997102
Shared room in residential home         30660  0.000473  64702107  0.997575
Shared room in townhouse                30660  0.000473  64732767  0.998047
Shared room in loft                     27740  0.000428  64760507  0.998475
Boat                                    27010  0.000416  64787517  0.998891
Entire place                            18615  0.000287  64806132  0.999178
Private room in casa particular         11680  0.000180  64817812  0.999358
Private room in camper/rv               10950  0.000169  64828762  0.999527
Shared room in hostel                    7665  0.000118  64836427  0.999645
Private room in resort                   7665  0.000118  64844092  0.999764
Shared room in condominium (condo)       7665  0.000118  64851757  0.999882
Entire home/apt                          2190  0.000034  64853947  0.999916
Casa particular                          1460  0.000023  64855407  0.999938
Shared room in bed and breakfast         1095  0.000017  64856502  0.999955
Cave                                      730  0.000011  64857232  0.999966
Room in bed and breakfast                 730  0.000011  64857962  0.999977
Private room in villa                     730  0.000011  64858692  0.999989
Shared room in guest suite                365  0.000006  64859057  0.999994
Private room in earth house               365  0.000006  64859422  1.000000

Frequencies table for variable room_type

                       FA        FR       FAA       FRA
Entire home/apt  34683030  0.534742  34683030  0.534742
Private room     28572200  0.440525  63255230  0.975267
Shared room        966155  0.014896  64221385  0.990163
Hotel room         638037  0.009837  64859422  1.000000

### Normalizing Categories

In [70]:
for v in vard:
    df = normalize(df, v, 0.05)

KeyboardInterrupt:

In [ ]:
varn = [col for col in df.filter(like="v_").columns.tolist() if col[:2] == "v_"]
print(len(varn))
varn

In [ ]:
for v in varn:
    freq(df, v)

## Continuous Variables

### Univariate Analysis

### Misings

### Outliers

### Bivariate Analysis

### Multicolinealidad

# Variable Engineering

## Dummies

# PCA Scaling

# Clustering

# Visualizations

# Profiling